<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/header.ejs") %>
    <link rel="stylesheet" href="../../Css/pantallahistorialpedidos.css">
</head>
<body class="cupero">
    <%- include("../partials/navBar.ejs") %>
    <main>
        <div class="titulo-contenedor">
            <h2>
                Fecha
            </h2>
            <p id="fecha"> <%= fecha %> </p>
        </div>

        <!-- Display orders historic -->
        <div class='cajita'>
            <% for (let i = 0; i < pedidos.length; i++) { %> 
                <% pedidos[i].numero = i + 1; %> 
                <%- include('../partials/order.ejs', pedidos[i]); %>
            <% } %>
        </div>

    </main>

    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>

</body>
</html>