* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*con esto un rem es igual a 10px y sirve para usar medidas relativas */
}

.navbar {
  background-color: #d77d4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fffde7;
  font-size: 50px;
  font-family: Roboto, sans-serif;
}
.navbar div p {
  color: #fffde7;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  margin-left: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul li {
  margin: 0 30px;
}
/*
ul li a {
  font-size: 1.8rem;
  padding: 10px;
  border: 2px solid #fffeee;
  border-radius: 5px;
  color: #fffeee;
  display: inline-block;
  width: 192px;
  text-align: center;
  font-family: "Lato", sans-serif;
}

ul li button {
  font-size: 1.8rem;
  padding: 10px;
  background-color: #472025;
  border-radius: 5px;
  color: #fffeee;
  width: 192px;
  font-family: "Lato", sans-serif;
  border: none;
}*/

body {
  font-family: Roboto, sans-serif;
  background-color: rgba(255, 253, 231, 0.7);
}

body .imgBackgraound img {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  width: 100rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

main {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-contenedor h2 {
  color: #47525e;
  font-family: Roboto, sans-serif;
  font-size: 3.5rem;
  line-height: 45px;
  width: 132px;
  text-align: left;
  margin-top: 20px;
}

.titulo-contenedor p {
  color: #47525e;
  font-family: Roboto, sans-serif;
  font-size: 3.4rem;
  line-height: 44px;
  width: 228px;
  text-align: left;
  margin-left: 13px;
  margin-top: 20px;
}

.cajita {
  border: 8px solid #fcdcbf;
  border-radius: 25px;
  width: 100%;
  height: 71.4rem;
  margin: 10px;
  flex-grow: 1;
  overflow: auto;
}
.cajita::-webkit-scrollbar {
  display: none;
  height: auto;
  width: auto;
  background: #47525e;
}

footer {
  position: relative;
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  color: #47525e;
  font-family: Roboto;
  font-size: 2.6rem;
  margin: 50px 0;
}
.pedidoNuevo {
  padding: 8%;
  justify-content: center;
  flex-flow: row wrap;
  opacity: 0;
  transition: 1s ease all;
  transform: translateY(15px);
}
.pedidoNuevo.activo {
  opacity: 1;
  transform: translateY(0);
}

.detalles {
  opacity: 0;
  transition: 1s ease all;
  transform: (translateY(-15px));
}
.detalles.activo {
  opacity: 1;
  transform: (translateY(0px));
}
.pedido {
  background: #fcdcbf;
  padding: 5%;
  padding-bottom: 5%;
  border-radius: 12px;
  row-gap: 15px;
  height: auto;
  width: 29.5rem;
}
.parte {
  column-count: 2;
  column-gap: 10px;
  row-gap: 10px;
  height: auto;
  font-size: 1.5rem;
}
.parte.productos {
  display: block;
  column-count: 3;
  column-gap: 5px;
  row-gap: 10px;
  height: auto;
  font-size: 1.2rem;
}
.columna {
  flex: 1;
  width: 100%;
  height: 25px;
  justify-self: center;
  align-items: center;
  font-family: Roboto, sans-serif;
  height: auto;
}
.columna.pedidos {
  height: 3.3rem;
}
.encabezado {
  width: auto;
  height: auto;
}
.full {
  height: 6rem;
}
.botonVerde {
  background-color: #4ab400;
  border: none;
  width: 90%;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: aliceblue;
  font-size: medium;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 10%);
}
.botonVerde:hover {
  background-color: #4bb400d5;
}
.botonAzul {
  background-color: #0c5db6;
  border: none;
  width: 90%;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: aliceblue;
  font-size: medium;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 20%);
}
.botonAzul:hover {
  background-color: #0c5eb6d3;
}
.botonRojo {
  background-color: #b90003;
  border: none;
  width: 90%;
  height: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  color: aliceblue;
  font-size: medium;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 20%);
}
.botonRojo:hover {
  background-color: #b90003c4;
}
.linea {
  height: 2px;
  background-color: #0c5eb6ab;
  width: 100%;
  align-self: center;
  border-radius: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 20%);
}
.linea.rechazo {
  background-color: #b90003b2;
}
.linea.interna {
  align-self: center;
  background-color: #020f1d6e;
}
.rechazo {
  border-radius: 5px;
  border-width: 0px;
  background-color: #ebc19b;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submitB {
  width: 8rem;
  border-width: 0;
  border-radius: 5px;
  background-color: #b90003;
  color: rgb(255, 255, 255);
  height: 2.5rem;
}
.submitB:hover {
  background-color: #b90003c4;
}
