<div class="container pedidos-en-curso border rounded-3 mb-3">
    <!-- First row to see the order id and the ready button -->
    <div class="row mt-2">
        <div class="col-7">
            <p class="h2">Pedido # <%- idPedido %> </p>
        </div>
        <div class="col-5 text-center">
            <button type="button" class="btn btn-success"> Listo  </button>
        </div>
    </div>
    <!-- Second row to see the order detail button -->
    <div class="row mb-2">
        <div class="col-8 w-100">
            <button type="button" class="btn btn-primary"> Ver detalles </button>
        </div>
    </div>
</div>