<!-- Navbar -->
<nav class="navbar navbar-light" style="background-color: #d77d4f">
    <div class="container-fluid">
        <div class="col-4">
            <a href="" style="text-decoration: none;">
                <span style="
                font-family: 'Roboto', sans-serif;
                color: #fffde7;
                font-size: 250%;
              "><b>Toopick </b></span>
                <span style="
                font-family: 'Roboto', sans-serif;
                color: #fffde7;
                font-size: 200%;
              "> Admin</span>
            </a>
        </div>
        <div class="col">
            <a class="nav-link active" href="#" style="text-decoration: none;color: black;">
                <button style="background-color: #d77d4f; border-color:#fffde7; border-style: solid;border-radius: 5px;padding: 4% 30%;color:#fffde7 ;
              font-size: 80%;">
                    Pedidos </button>
            </a>
        </div>
        <div class="col">
            <a class="nav-link active" aria-current="page" href="#">
                <button style="background-color: #d77d4f; border-color:#fffde7; border-style: solid;border-radius: 5px;padding: 4% 30%;color:#fffde7
            ;font-size: 70%;">
                    Historial de pedidos </button>
            </a>
        </div>
        <div class="col">
            <a class="nav-link active" aria-current="page" href="#">
                <button style="background-color: #d77d4f; border-color:#fffde7; border-style: solid;border-radius: 5px;padding: 4% 30%;color:#fffde7 ;
          font-size: 80%">
                    Cierre de caja </button>
            </a>
        </div>
        <div class="col-2">
            <a class="nav-link active" aria-current="page" href="#">
                <button style="background-color: #472025; border: none;border-radius: 5px;padding: 6% 30%;color:#fffde7 ;
          font-size: 70%;">
                    Cerrar sesion </button>
            </a>
        </div>
    </div>
    </div>
</nav>

<!-- Background image -->
<img class="logo" src="Images/logo.png" alt="Toppick Logo">