<div class="container pedidos-por-confirmar border rounded-3 mb-3">
    <!-- First row to see the order id and the accept button -->
    <div class="row mt-2">
        <div class="col-8">
            <p class="h2">Pedido # <%- idPedido %> </p>
        </div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-success"> Aceptar </button>
        </div>
    </div>
    <!-- Second row to see the order detail and the reject button -->
    <div class="row mb-2">
        <div class="col-8">
            <button type="button" class="btn btn-primary"> Ver detalles </button>
        </div>
        <div class="col-4 text-center">
            <button type="button" class="btn btn-danger"> Rechazar </button>
        </div>
    </div>
</div>