<%- include("template/header.ejs") %>
<body class="cupero">
    <link rel="stylesheet" href="../../Css/pantallaActualizarinventario.css">
    <%- include("template/navBar.ejs") %>
    <main>
        <div class='titulo-pro'>
            <h2>
                Seleccione el producto a actualizar, recuerde que solo puede actualizar un producto a la vez.
            </h2>
        </div>
        <section class='PantallaBajo'>
            
                <label for="producto">
                    <h3> Producto:</h3>
                </label>
                <div class='BotonSelec'>
                <select id="producto" name="producto">
                    <option value="papas">
                        <p>Papas</p>
                    </option>
                    <option value="chocorramo">
                        <p>Chocorramo</p>
                    </option>
                    <option value="mani">
                        <p>Maní</p>
                    </option>
                    <option value="pescadito">
                        <p>Pescadito
                    </option>
                </select><br><br>
                <div >
                    <button class="botonEnvio" ><p>Actualizar inventario  </p></button>
                </div>
            </div>
            <section class='tabla'>
                <table>
                    <caption>
                        <p>Inventario</p>
                    </caption>
                    <tr>
                        <th>
                            <p>Nombre del producto </p>
                        </th>
                        <th>
                            <p>Cantidad actual del producto (un)</p>
                        </th>
                        <th>
                            <p>Cantidad de productos recibidos (un)</p>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <p>Papas margarita natural </p>
                        </td>
                        <td>
                            <p>10</p>
                        </td>
                        <td>
                            <input type="zzs">
                        </td>
                    </tr>
                </table>
            </section>
           
        </section>
    </main>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
</body>