<%- include("template/header.ejs") %>
<body class="cupero">
    <link rel="stylesheet" href="../../Css/pantallacierrecaja.css">
    <%- include("template/navBar.ejs") %>
    
    <main>
        <section class='caja1'>
            <div class="fecha">
                <p>Cierre de caja para el día: </p>
                <p>24-05-2021</p>
            </div>
            <div class="ventas">
                <p>Ventas totales:</p>
                <p>$100.000</p>
            </div>
            <div>
                <button class="cierreCaja"><p>Realizar cierre de caja</p></button>
            </div>
        </section>
        <section class='caja2'>
            <div class='cajaAMasVenidosHoy'>
                <p>Top 3 de los productos más vendidos hoy:</p>
                <ol>
                    <li>Pescadito</li>
                    <li>Teppannyaki</li>
                    <li>Chocorramo</li>
                </ol>
            </div>
            <div class='cajaBMasPlataHoy'>
                <p>Top 3 de los productos con mayor ganacia monetaria hoy:</p>
                <ol>                    
                    <li>Teppannyaki</li>
                    <li>Chocorramo</li>
                    <li>Papas naturales</li>
                </ol>
            </div>

        </section>
    </main>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>

</body>