
<%- include("template/header.ejs") %>

<body class="cupero">
    <link rel="stylesheet" href="../../Css/pantallahistorialpedidos.css">
    <%- include("template/navBar.ejs") %>
    <main>
        <div class="titulo-contenedor">
            <h2>
                Fecha
            </h2>
            <p id="fecha">24/04/2021</p>
        </div>
        <div class='cajita'>
                <div class="pedido">
                    <div class="separador1"><p>#1</p></div>
                    <div class="separador2">
                        <div class="fila">
                            <div class="c1">Nuemero Pedido</div>
                            <div class="c2">1251</div>
                        </div>
                        <div class="fila">
                            <div class="c1">idCliente</div>
                            <div class="c2">153</div>
                        </div>
                        <div class="fila">
                            <div class="c1">xx</div>
                            <div class="c2">xxx</div>
                        </div>
                        <div class="fila">
                            <div class="c1">xx</div>
                            <div class="c2">xxx</div>
                        </div>
                        <div class="fila">
                            <div class="c1">xx</div>
                            <div class="c2">xxx</div>
                        </div>
                        <div class="fila">
                            <div class="c1">xx</div>
                            <div class="c2">xxx</div>
                        </div>
                        
                    </div>
                    <!--<p class="separador2"><button class="botonAzul">Ver detalles</button></p>-->                </div>
        </div>
    </main>
    <script type="text/javascript" src="../../Scripts/historial_pedidos.js"></script>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
</body>
</html>