<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="Css/pantallahistorialpedidos.css">
    <link rel="shortcut icon" type="image/x-icon" href="assets/logo.ico" />
    
    <title>Toppick Admin - pantalla historial de pedidos </title>
    <!-- Axios library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="cupero">
    <div class = "imgBackgraound">
        <img src="assets/logo.png" alt="imagenFondo">
    </div>
    <header>
        <nav class='navbar'>
            <div class="titulo">
                <h1> Toppick </h1>
                <p>Admin</p>
            </div>
            <ul>
                <li> <a href="pantallapedidos.html"> Pedidos </a></li>
                <li><a href="actualizar_inventario.html">Actualizar inventario</a></li>
                <li> <a> Historial de pedidos </a></li>
                <li><a href="Cierre_caja.html">Cierre de caja </a></li>
                <li><button> Cerrar sesión </button> </li>
            </ul>

        </nav>
    </header>
    <main>
        <div class="titulo-contenedor">
            <h2>
                Fecha
            </h2>
            <p>24/04/2021</p>
        </div>
        <div class='cajita'>
            <div class="carta2">
                <div class="pedido">
                    <p><b>Texto</b></p>
                    <p><button class="botonAzul"> Ver detalles</button></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
</body>
</html>