
<%- include("template/header.ejs") %>
<body class="cupero">
    <link rel="stylesheet" href="../../Css/pantallahistorialpedidos.css">
    <%- include("template/navBar.ejs") %>
    
    <main>
        <div class="titulo-contenedor">
            <h2>
                Fecha
            </h2>
            <p id="fecha">24/04/2021</p>
        </div>
        <div class='cajita'>
            <div class="carta2">
                <div class="pedido">
                    <p><b>Texto</b></p>
                    <p><button class="botonAzul"> Ver detalles</button></p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
</body>
</html>