<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include head that contains Bootstrap, metadata, and stylesheets -->
    <%- include('../partials/head'); %>
</head>
<body>
    <!-- Include navigation bar and background -->
    <%- include('../partials/navbar'); %> 
    
    <!-- Main content of the page --> 
    

    <!-- Footer of the page -->
    <%- include('../partials/footer'); %> 
</body>
</html>