<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../Css/pantallapedidos.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/logo.ico" />
    <!-- Axios library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Toppick Admin - pantalla pedidos </title>
</head>

<body class="cupero">
    <div class = "imgBackgraound">
        <img src="../../assets/logo.png" alt="imagenFondo">
    </div>
    <header>
        <nav class='navbar'>
            <div class="titulo">
                <h1> Toppick </h1>
                <p>Admin</p>
            </div>
            <ul>
                <li> <a> Pedidos </a></li>
                <li><a href="" >Actualizar inventario</a></li>
                <li> <a href=""> Historial de pedidos </a></li>
                <li><a href=""> Cierre de caja </a></li>
                <li><button> Cerrar sesión </button> </li>
            </ul>

        </nav>
    </header>
    <main>
        <section class='ppc'>
            <!-- clase para pedidos por confirmar -->
            <div class="titulo-contenedor">
                <h2>
                    Pedidos
                </h2>
                <p> por confirmar:</p>
            </div>
            <div class="cajita">
                <div class="carta1"><!-- Diseño carata para ppc -->
                   
                </div> <!--fin carata pcc-->
            </div>
        </section>
        <section class='pec'><!-- clase para pedidos en curso  -->
            <div class="titulo-contenedor">
                <h2>
                    Pedidos
                </h2>
                <p> en curso:</p>
            </div>
            <div class="cajita">
                <div class="carta2"> 
                    <!--Diseño carata para pec -->
                </div><!--fin carata pec-->
            </div>
        </section>
        <section class='pl'>
            <!-- clase para pedidos listos -->
            <div class="titulo-contenedor">
                <h2>
                    Pedidos
                </h2>
                <p> listos:</p>
            </div>
            <div class="cajita">
                <div class="carta3"> 
                    <!-- Diseño carata para pl -->
                    
                </div><!--fin carata pl-->
            </div>
        </section>
        <script type="text/javascript" src="../../Scripts/nuevos_pedios.js"></script>
    </main>

    <footer>
        <p class="text-center text-muted"> Developed by ©Alpha </p>
    </footer>
</body>

</html>