* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
html {
  font-size: 62.5%; /*con esto un rem es igual a 10px y sirve para usar medidas relativas */
}
.header {
  height: 1500%;
}
.navbar {
  background-color: #d77d4f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: min-content;
}

.titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fffde7;
  font-size: 50px;
  font-family: Roboto, sans-serif;
}
.navbar div p {
  color: #fffde7;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  margin-left: 15px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

ul li {
  margin: 0 30px;
}

ul li a {
  font-size: 1.8rem;
  padding: 10px;
  border: 2px solid #fffeee;
  border-radius: 5px;
  color: #fffeee;
  display: inline-block;
  width: 192px;
  text-align: center;
  font-family: "Lato", sans-serif;
}
.li-header {
  height: auto;
  width: 50%;
}
.button-header {
  background-color: #d77d4f;
  border-color: #fffde7;
  border-style: solid;
  border-radius: 5px;
  padding: 4% 30%;
  color: #fffde7;
  font-size: 100%;
}
.button-header-exit {
  padding: 10px;
  background-color: #472025;
  border: none;
  border-radius: 5px;
  padding: 6% 30%;
  color: #fffde7;
  font-size: 1rem;
}
a {
  text-decoration: none;
}

body {
  background-image: url("./asets/logo.png"); /*Mirar porque no funciona */
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 253, 231, 0.7);
}

main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-contenedor h2 {
  color: #47525e;
  font-family: Roboto, sans-serif;
  font-size: 3.5rem;
  line-height: 45px;
  width: 132px;
  text-align: left;
  margin-top: 20px;
}

.titulo-contenedor p {
  color: #47525e;
  font-family: Roboto, sans-serif;
  font-size: 3.4rem;
  line-height: 44px;
  width: 228px;
  text-align: left;
  margin-left: 13px;
  margin-top: 20px;
}
.box-header{
    padding-top: 0.5rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    font-size: x-large;
}
.box-type1 {
  border: 8px solid #fcdcbf;
  border-radius: 25px;
  width: auto;
  height: 95%;
  margin: 20px;
}
.box-type2 {
  border: 8px solid #fcdcbf;
  border-radius: 25px;
  width: auto;
  height: 95%;
  margin: 20px;
}

footer {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: center;
  align-items: center;
  color: #47525e;
  font-family: Roboto;
  font-size: 2.6rem;
  margin: 50px 0;
}
.empty {
  height: 500px;
  width: 10%;
  border: #472025, 10px;
}
.secction-type1 {
  height: auto;
  width: 25%;
  border-radius: 15px;
  border-color: #47525e;
}
.secction-type2 {
  height: auto;
  width: 20%;
}
.main-body {
  width: 100%;
}
